@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151515;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151515;
}

html {
  scroll-behavior: smooth;
}
